/* general style */
* {
  font-family: "Azeret Mono", monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.primary-button {
  padding: 12px 20px 12px 20px;
  opacity: 0.7;
  color: black;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.desc {
  color: rgb(13, 19, 33, 0.7);
  font-size: 15px;
  line-height: 23px;
}

.title {
  color: rgb(13, 19, 33);
}

/* end of general style  */

/* start of header section styles */

header {
}
/* nav section (inside header) */
nav {
  padding: 30px 0px;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

/* end of nav styles (inside header) */

/* start of the hero section (inside header) */

.hero-section {
  max-width: 1536px;
  height: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.hero-section .hero-content img {
  width: 240px;
}

.hero-content .title {
  color: rgb(13, 19, 33);
  font-size: 30px;
  font-weight: 800;
  line-height: 44px;
  margin: 30px 0px 22px;
}
.hero-content .desc {
  color: rgb(13, 19, 33);
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 32px;
  opacity: 0.7;
}

.hero-content button {
  padding: 21px 24px 21px 24px;
  background-color: rgb(13, 19, 33);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

/* end of the hero section styles (inside header) */

/* header section styles ended  */

/* Start of main  section styles  */
main {
  margin: 70px;
}

.main-menu-container {
  width: 90%;

  margin: 0 auto;

  border: 1px solid red;
}

/* start of task section style  (inside main)*/

.task-section {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border: 1px solid green;
  padding: 80px 97px 80px 97px;
  margin: 74px 0px;
}
.task-section .why-dev {
  text-align: center;
}
.task-section .why-dev .title {
  color: rgb(13, 19, 33);
  margin-bottom: 24px;
}

.task-section .why-dev .desc {
  color: rgb(13, 19, 33);
  font-size: 15px;
  line-height: 23px;
  opacity: 0.7;
}

/* services styles  */

.tasks {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.task-about {
  width: 65%;
}

.task-about .title {
  color: rgb(13, 19, 33, 0.7);
  margin-bottom: 16px;
  line-height: 28px;
}

.task-about .desc {
  color: rgb(13, 19, 33, 07);
  font-size: 15px;
  line-height: 23px;

  margin-bottom: 32px;
}
.task-img {
  width: 25%;
}
.task-img img {
  width: 190px;
}

/* end of task section style  (inside main) */

.inspiration-section {
}

.inspiration-about {
  text-align: center;
  border: 1px solid blue;
  width: 80%;
  margin: 0 auto;
}
.inspiration-about .title {
  margin: 16px;
}
.inspiration-about .desc {
  margin-bottom: 48px;
}
.inspiration-thumbnail {
  background-color: rgb(210, 17, 17);
  padding: 20px;
}
